# Assignment 1

#### Q1. Using Python script as a calculator
Create the variables n, r, p and assign them values 10, 5, and 100 respectively. Then
evaluate the following expression in the Python console.
                  ùê¥ = ùëù (1 + ùëü/ 100)n
+ a. 100
+ b. 162.89
+ c. 189
+ d. None of the above

In [1]:
n = 10
r = 5
p = 100

A = p * (1 + r/100) * n
print(A)

1050.0

##### Ans= d.) None of the above

# *****************************************************************************************

#### Q2. In a given string format operation, how will you print the given string.
+ A = 10
+ B = 20
+ Str = "There are {} students in the class, with {} who play at least one sport."
+ a. print(string.format(a,b))
+ b. print(string+a+b)
+ c. print(string.format(b,a))
+ d. None of the above

In [2]:
A = '10'
B = '20'
Str = "There are {} students in the class, with {} who play at least one sport."

In [3]:
print(Str.format(A,B))
print(Str+A+B)
print(Str.format(B,A))

There are 10 students in the class, with 20 who play at least one sport.
There are {} students in the class, with {} who play at least one sport.1020
There are 20 students in the class, with 10 who play at least one sport.

##### Ans= c.) print(Str.format(B,A))

# *****************************************************************************************

#### Q3. In a given sample string, How do you print a double quoted string in between a regular string using the escape character?
Sample output = It goes without saying, ‚ÄúTime is Money‚Äù, and none can deny it.
+ a. print(‚ÄúIt goes without saying, \‚ÄúTime is Money\‚Äù, and none can deny it.‚Äù)
+ b. print(‚ÄúIt goes without saying, \Time is Money\, and none can deny it.‚Äù)
+ c. print(‚ÄúIt goes without saying‚Äù + ‚ÄúTime is Money‚Äù + ‚Äúand none can deny it.‚Äù)
+ d. None of the above.

In [4]:
print("It goes without saying, \"Time is Money\", and none can deny it.")

It goes without saying, "Time is Money", and none can deny it.

In [5]:
print("It goes without saying, \Time is Money, and none can deny it.")

It goes without saying, \Time is Money, and none can deny it.

In [6]:
print("It goes without saying" + "Time is Money" + "and none can deny it.")

It goes without sayingTime is Moneyand none can deny it.

##### Ans = a.) print("It goes without saying, \"Time is Money\", and none can deny it.")

## *********************************************************************************************************

#### Q4. What will be the output of the following code?
x = lambda a,b: a//b,
x(10,3)
+ a. 3.3333333333
+ b. 3
+ c. 30
+ d. 1000

In [7]:
x = lambda a,b: a//b
x(10,3)

3

##### Ans = b.) 3

# *****************************************************************************************

#### Q5. What will be the output of the following code?
A = 10
B = 12,
print("Smaller") if A == B else print("Greater") if A < B else print("True")
+ a. True
+ b. Smaller
+ c. Greater
+ d. None of the above

In [8]:
A = 10
B = 12
print("Smaller") if A == B else print("Greater") if A < B else print("True")

Greater

##### Ans=c.) Greater

# *****************************************************************************************

#### Q6. What will be the output of the following code?

+ import os
+ import numpy as np
+ my_list1 = [2,7,3,5,4,6]
+ print(my_list)
+ arr_1 = numpy.array(my_list1,dtype = int)
+ print(arr_1)
#########################################################################
+ a. [2 7 3 5 4 6]
+ b. TypeError
+ c. NameError: name 'numpy' is not defined
+ d. None of the above

In [9]:
import os
import numpy as np
my_list1 = [2,7,3,5,4,6]
print(my_list)
arr_1 = numpy.array(my_list1, dtype = int)
print(arr_1)

NameError: name 'my_list' is not defined

##### Ans = c.) NameError: name 'numpy' is not defined

# *****************************************************************************************

#### Q7. Create a string called ‚Äòstring‚Äô with the value as ‚ÄúMachine Learning‚Äù. Which code(s) is/are appropriate to slice the substring ‚ÄúLearn‚Äù?
+ a. string[slice(13,8,1)]
+ b. string[slice(1,8,1)]
+ c. string[8:14]
+ d. string[slice(8,13,1)]

In [10]:
string = "Machine Learning"

In [11]:
string[slice(13,8,1)]

''

In [12]:
string[slice(1,8,1)]

'achine '

In [13]:
string[8:14]

'Learni'

In [14]:
string[slice(8,13,1)]

'Learn'

##### Ans = d.) string[slice(8,13,1)]

# *****************************************************************************************

#### Q8. Create a sequence of numbers from 10 to 25 and increment by 4. What is the index of the value 18?
+ a. 3
+ b. 2
+ c. 0
+ d. 1

In [15]:
numbers = list(range(10,26,4))
numbers.index(18)

2

##### Ans = b.) 2

# *****************************************************************************************

#### Q9. Which of the following is true with respect to the below codes?
+ num1 = 5**4
+ num2 = pow(5,4)
+ print(num1,num2)
#########################################################################
+ a. num1 = num2
+ b. num1 ‚â† num2
+ c. num1 < num2
+ d. num1 > num2

In [16]:
num1 = 5**4
num2 = pow(5,4)
print(num1,num2)

625 625

### OR

In [17]:
num1 = 5**4
num2 = pow(5,4)

if num1 == num2:
    print('num1 = num2')

elif num1 != num2:
    print('num1  ‚â† num2')
    
elif num1 < num2:
    print('num1 < num2')

elif num1 > num2:
    print('num1 > num2')
    
else:
    print('not valid')

num1 = num2

##### Ans = a.) num1 = num2

# *****************************************************************************************

#### Q10.A Python NameError exception is raised when: -
+ a. Trying to access a variable which has not been defined
+ b. Trying to access a key in a dictionary that does not exist
+ c. Accessing a column with misspelled column name
+ d. Accessing the function from a module that has not been imported

##### Ans = a.) Trying to access a variable which has not been defined

# *****************************************************************************************

#### Q11.What type of exception will be raised for the code given below?

+ x = "string"
+ int(x)
 #########################################################################
+ a. NameError
+ b. KeyError
+ c. ValueError
+ d. AttributeError

In [18]:
x = "string"
int(x)

ValueError: invalid literal for int() with base 10: 'string'

##### Ans = c.) ValueError

# *****************************************************************************************

#### Q12.A FileNotFoundError exception is raised by operating system errors when: -
+ a. Trying to create a file or directory which already exists
+ b. A file or directory is requested but does not exist in the working directory
+ c. Trying to run an operation without the adequate access rights
+ d. A directory operation, os.listdir() is requested on something which is not a directory

##### Ans = b.) A file or directory is requested but does not exist in the working directory

# *****************************************************************************************

#### Q13.Consider a variable Z. The value of Z is "ID-5632". Data type of Z is: -
+ a. Complex
+ b. Character
+ c. Integer
+ d. Boolean

In [19]:
Z ="ID-5632"
type(Z)

str

##### Ans = b.) Character

# *****************************************************************************************

#### Q14.Which of the following variable(s) are character data type?
+ a. K= ‚Äú4‚Äù
+ b. J= ‚ÄúWelcome‚Äù
+ c. L= ‚Äú?‚Äù
+ d. All of the above

In [20]:
K="4"
type(K)

str

In [21]:
J="Welcome"
type(J)

str

In [22]:
L="?"
type(L)

str

##### Ans = d.) All of the above

# *****************************************************************************************

#### Q15.Choose the symbol/s that does not have the ability to convert any values to string?
+ a. ( )
+ b. ‚Äú ‚Äù
+ c. {}
+ d. #

 Ans = d.) #

# *****************************************************************************************

#### Q16.Create a dictionary ‚ÄòCountry‚Äô that maps the following countries to their capitals respectively:
+ Country = India China Japan Qatar France
+ State = Delhi Beijing Tokyo Doha Marseilles
#########################################################################
Find 2 commands to replace ‚ÄúMarseilles‚Äù with ‚ÄúParis‚Äù is:

In [23]:
Country = {'India':'Delhi','China':'Beijing','Japan':'Tokyo','Qatar':'Doha','France':'Marseilles'}

In [24]:
Country

{'India': 'Delhi',
 'China': 'Beijing',
 'Japan': 'Tokyo',
 'Qatar': 'Doha',
 'France': 'Marseilles'}

#### If we want to replace "Marseilles" with "Paris" permanently we can use the function mentioned below =

In [25]:
Country['France']='Paris'

In [26]:
Country

{'India': 'Delhi',
 'China': 'Beijing',
 'Japan': 'Tokyo',
 'Qatar': 'Doha',
 'France': 'Paris'}

In [27]:
Country.update({'France': 'Paris'})

In [28]:
Country

{'India': 'Delhi',
 'China': 'Beijing',
 'Japan': 'Tokyo',
 'Qatar': 'Doha',
 'France': 'Paris'}

#### Or if we want to replace temporarily then use this function =

In [29]:
Country = {'India':'Delhi','China':'Beijing','Japan':'Tokyo','Qatar':'Doha','France':'Marseilles'}

In [30]:
Country_Copy = Country

In [31]:
Country_Copy

{'India': 'Delhi',
 'China': 'Beijing',
 'Japan': 'Tokyo',
 'Qatar': 'Doha',
 'France': 'Marseilles'}

#### Now whatever you will change in Country_Copy it will not affect the main dictionary Country

In [32]:
Country_Copy['France']='Paris'

In [33]:
Country_Copy

{'India': 'Delhi',
 'China': 'Beijing',
 'Japan': 'Tokyo',
 'Qatar': 'Doha',
 'France': 'Paris'}

# *****************************************************************************************

#### Q17. Create the tuples given below
+ tuple_1 = (1,5,6,7,8)
+ tuple_2 = (8,9,4)
+ Identify which of the following code does not work on a tuple.
#########################################################################
+ a. sum(tuple_1)
+ b. len(tuple_2)
+ c. tuple_2 + tuple_1
+ d. tuple_1[3] = 45

In [34]:
tuple_1 = (1,5,6,7,8)
tuple_2 = (8,9,4)

In [35]:
sum(tuple_1)

27

In [36]:
len(tuple_2)

3

In [37]:
 tuple_2 + tuple_1

(8, 9, 4, 1, 5, 6, 7, 8)

In [38]:
tuple_1[3] = 45

TypeError: 'tuple' object does not support item assignment

##### Ans = d.) tuple_1[3] = 45 as tuples ore immutable

# *****************************************************************************************

#### Q18. How many elements in the following data structure?
S = {1,2,3,4,4,4,5,6}

In [39]:
S = {1,2,3,4,4,4,5,6}

##### Here data structure us defined as Set and Sets in Python are unordered collections of unique elements. In this case, there are 6 unique elements in the set: 1, 2, 3, 4, 5, and 6. So, the correct answer is: There are 6 elements in the data structure 'S'.

# *****************************************************************************************

#### Q19.Write a function which finds all pythagorean triplets of triangles whose sides are no greater than a natural number N.

In [41]:
def pythagorean_triplets(N):
    triplets = []
    
    for a in range(1,N+1):
        for b in range(a,N+1):
            c_square = a**2 + b**2
            c=int(c_square**0.5)
            if c_square==c**2 and c<=N:
                triplets.append((a,b,c))
                
    return triplets

N=int(input("Enter the natural number N: "))
Pythagorean_Triplets=pythagorean_triplets(N)
print("Pythagorean Triplets:")
for triplet in Pythagorean_Triplets:
    print(triplet)

Enter the natural number N: 10
Pythagorean Triplets:
(3, 4, 5)
(6, 8, 10)

# *****************************************************************************************